html,
body {
  margin: 0;
}

div {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

h1 {
  font-family: sans-serif;
  font-size: 25px;
}

h2 {
  font-family: sans-serif;
  font-size: 20px;
}

button {
  font-size: 20px;
  padding: 0px 30px;
  border: none;
  border-radius: 10px;
  background-color: #03aa6d;
  color: white;
}

button:hover {
  background-color: #059862;
  cursor: pointer;
}
